@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

.App {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

/* --------------- SECTION 1 ---------------  */
#section1 {
  background-color: #FBF7ED;
  height: 100vh;
}

/* TOP SECTION */
header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
header h1{
  padding-top: 40px;
}

/* BOTTOM SECTION */
.cta {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cta h2 {
  color: #004C3F;
  margin-bottom: 1em;
}


/* for page scroll */
html {
  scroll-behavior: smooth;
}

/* --------------- SECTION 2 --------------- */
#section2 {
  height: 100vh;
  border: 4px solid red;
  background-color: #004C3F;
  display: flex;
} 
/* left side */
#left-s2 {
  width: 875px;
  border: 4px blue solid;
}
/* TITLE */
#left-s2 h1 {
  color: white;
}
/* INPUT */
#left-s2 input {
  background-color: #95BF46;
  background-image: url('./images/icons/search.svg');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  font-family: 'Josefin Sans', 'sans-serif';
  padding-left: 44px;
  border: none;
  width: 200px;
  height: 50px;
}
.scroll-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 520px;
  justify-content: space-between;
}
.search-list {
  display: flex;
}
.list {
  display: flex;
  flex-direction: column;
}

