@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

.App {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

/* --------------- SECTION 1 ---------------  */
#section1 {
  background-color: #FBF7ED;
  height: 100vh;
}

  /* ---------------  HEADER --------------- */
  header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  header h1{
    padding-top: 40px;
  }

  /* ---------------  CTA --------------- */
  .cta {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .cta h2 {
    color: #004C3F;
    margin-bottom: 1em;
  }


  /* for page scroll */
  html {
    scroll-behavior: smooth;
  }

/* --------------- SECTION 2 (COMPLETE) --------------- */
.complete {
  height: 100vh;

  background-color: #004C3F;
  justify-content: center;
  align-items: center;
  display: flex;
}
.completed-banner{
  color: white;
}
.complete .nominated-section2 {
  margin-bottom: 25px;
}
.nom-complete {
  border: red 4px;
  width: 30%;
  height: fit-content;
}


/* --------------- SECTION 2 (INCOMPLETE) --------------- */
.incomplete {
  height: 85vh;
  padding-top: 15vh;
  background-color: #004C3F;
  display: flex;
}
  /* --------------- SECTION 2 - LEFT ---------------*/
  .left-s2 {
    width: 60%;
  }
    /* ---------------  SEARCH --------------- */
    .search{
      margin-bottom: 25px;
      float: right;
      margin-right: 10%;
      width: 500px;
    }
      /* --------------- SEARCH TITLE --------------- */
      .search h1 {
        color: white;
      }
      /* --------------- TEXT FIELD INPUT --------------- */
      .search input {
        background-color: #95BF46;
        background-image: url('./images/icons/search.svg');
        background-position: 10px 12px;
        background-repeat: no-repeat;
        font-family: 'Josefin Sans', 'sans-serif';
        padding-left: 44px;
        border: none;
        width: 200px;
        height: 50px;
      }
    /* --------------- SEARCH LIST --------------- */
      .search-list {
        display: flex;
        width: 100%;
      }
      /* --------------- SCROLL BUTTONS --------------- */
      .scroll-buttons {
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 60vh;
        justify-content: space-between;
      }
      /* --------------- LIST --------------- */
      .list {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
        /* --------------- MOVIE --------------- */
        .movie{
          border: white 4px solid;
          width: 100%;
          height: 100px;
          display: flex;
          justify-content: space-between;
        }
          /* --------------- INFO-CONTAINER --------------- */
          .info-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 25px;
          }
          .title {
            height: 36px;
            display: flex;
            align-items: center;
            color: white;
          }
          .year {
            display: flex;
            align-items: center;
            height: 25px;
            color: white;
          }
          /* --------------- NOMINATION BUTTON --------------- */
          .nom-button {
            display: flex;
            align-items: center;
            margin-right: 25px;
          }
  /* --------------- SECTION 2 - RIGHT ---------------*/
  .right-s2 {
    width: 25%;
    margin-left: 50px;
    padding-top: 15vh;
  }
    .nom-counter{
      color: white;
    }
    /* --------------- NOMINATED MOVIE ---------------*/
    .nom-movie {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid white;
      padding: 10px;
    }
    .nom-contain{
      display: flex;
    }
      /* --------------- INDEX ---------------*/
      .index{
        height: 64px;
        padding-top: 5px;
        display: flex;
        align-items: center;

      }
      .index h1{
        color: #F2C94C;
        font-size: 64px;
      }
      /* --------------- NOM-INFO ---------------*/
      .nom-title {
        height: 36px;
        display: flex;
        align-items: center;
        color: white;
      }
      .nom-year {
        display: flex;
        align-items: center;
        height: 25px;
        color: white;
      }

/* --------------- SUBMITTED ---------------*/
.submitted {
  height: 100vh;
  padding-top: 20px;
  background-color: #004C3F;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}